# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3

# Node
node_modules/
dist/
.expo/

# Env y secretos
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Builds locales
frontend/dist/
mobile/assets/web/
